.latest-articles {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 120px;

  background-image: url(../assets/latest_article_bg.svg);
  background-position: calc(100% + 40px) -60px;
  background-repeat: no-repeat;

  .latest-articles__title {
    font-family: var(--text-font);
    font-size: 30px;
    font-weight: 600;
    color: var(--title-text-color);
    margin: 0;
  }

  .latest-articles__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    list-style: none;
    margin: 30px 0 40px 0;
    padding: 0;

    @media (min-width: 850px) {
      grid-template-columns: 1fr 1fr;
      gap: 50px;

      .latest-articles__item:nth-child(3) {
        grid-column: 1 / span 2;
        display: flex;
        justify-content: center;
      }
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;

      .latest-articles__item:nth-child(3) {
        grid-column: auto;
        display: block;
        justify-content: normal;
      }
    }

    .latest-articles__item {
      .article-preview {
        max-width: 300px;
        box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.04);
        border-radius: 15px;
        background-color: #fff;

        .article-preview__img {
          width: 100%;
          border-radius: 10px;
          margin-bottom: 20px;
        }

        .article-preview__content {
          padding: 0 20px 20px 20px;
          font-family: var(--text-font);
          display: flex;
          flex-direction: column;

          .article-preview__title {
            font-size: 20px;
            font-weight: 500;
            color: var(--title-text-color);
            margin: 0 0 10px 0;
          }

          .article-preview__desc {
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
            color: var(--text-color);
            margin: 15px 0 20px 0;
            flex-grow: 1;
          }

          .article-preview__link {
            display: flex;
            gap: 7px;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            color: var(--accent-color);
            margin-top: 15px;

            img {
              transition: transform 0.3s;
            }

            &:hover {
              text-decoration: underline;
            }

            &:hover img {
              transform: translateX(5px);
            }
          }
        }
      }
    }
  }
}
